@media only screen and  (max-width: 768px) {
    #navbar .about{
     display: flex;
     font-size: 10px;
     width: 30px;
     height: 10px;
    }
    #navbar .icon i{
     display: flex;
     font-size: 10px;
     width: 30px;
     height: 10px;
    }
   
   }
 